 .card {
  margin : 30px auto;
  display : flex;
 }
 .card img {
  width : 150px;
  margin-right : 20px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
 .nav {
  display: flex;
  padding: 10px;
  align-items: center;
  font-family : 'Montserrat';
 }
 .nav a {
  margin-right: 10px;
  text-decoration : none;
  font-weight : 400;
  letter-spacing : -0.5px;
 }
 .nav .logo {
  font-weight : 800;
 }

 input, button {
  padding : 8px 13px;
  margin-top : 5px;
  border : 1px solid grey;
  border-radius : 4px;
  vertical-align : middle;
 }
 button {
  background : black;
  color : white;
  border : none;
 }
 input {
  display : block;
 }

 .detail {
   text-align : center;
 }
 .detail img{
   max-width : 30%;
   display : block;
   margin : auto;
 }

 .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;   /* form 내부 중앙 */
    gap: 10px;
    margin-top: 20px;
 }

 .pagination {
    display: flex;
    gap: 5px;
    margin: 20px 0;
 }

 .pagination a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    background-color: white;
 }

 .pagination a:hover {
    background-color: #f0f0f0;
 }

 .pagination a.active {
     color: #00b33c;
     border-color: #00b33c;
     font-weight: bold;
 }